#header,
.module h2, .module caption, .inline-group h2{
    background: #009688;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #76ff03;
}
div.breadcrumbs{
    background: #263238;
}


